In [ ]:
input_string = input("Enter a string: ")
if len(input_string) < 2:
    print("Input string must have at least 2 characters.")
else:
    modified_string = input_string[:-2]

    reversed_string = modified_string[::-1]

    print("Reversed string:", reversed_string)

Enter a string: python
Reversed string: htyp

In [7]:
num1 = float(input("Enter first number"))
num2 = float(input("eneter second number"))
print("Addition:", num1+num2)
print("Subtraction:", num1-num2)
print("Multiplication:", num1*num2)
print("Division:", num1/num2)

Enter first number33
eneter second number44
Addition: 77.0
Subtraction: -11.0
Multiplication: 1452.0
Division: 0.75

In [8]:
input_sentence = input("Enter a sentence: ")

modified_sentence = input_sentence.replace('python', 'pythons')

print("Modified sentence:", modified_sentence)

Enter a sentence: I love playing with python
Modified sentence: I love playing with pythons

In [11]:
score = float(input("Enter class score"))
if(score>=90):
  print("A")
elif(score>=80 and score<90):
  print("B")
elif(score>=70 and score<80):
  print("C")
elif(score>=60 and score<70):
  print("D")
else:
  print("F")

Enter class score89.99
B